@import url(globalStyles.css);

.header__container {
    background-color: var(--bg-color);
    padding: 1.5625rem;
    max-width: 100%;
    box-shadow: 0px .125rem .25rem rgba(0, 0, 0, 0.5);
}

.header__content {
    width: 75rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    max-width: 100%;
}

.header__logo {
    background-image: url(../assets/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: clamp(4rem, 1.872rem + 6.809vw, 8rem);
    height: clamp(4rem, 1.872rem + 6.809vw, 8rem);
}

.header__title {
    color: var(--main-color);
    font-size: clamp(2rem, 1.468rem + 1.702vw, 3rem);
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-style: italic;
    text-transform: uppercase;
    align-self: center;
    display: flex;
    gap: 10px;
    max-width: 100%;
}

/* FOR TABLETS */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header__container {
        padding: 1.25rem;
    }

    .header__logo {
        width: clamp(3rem, 2.286rem + 1.905vw, 4rem);
        height: clamp(3rem, 2.286rem + 1.905vw, 4rem);
    }

    .header__title {
        font-size: clamp(1.5rem, 0.786rem + 1.905vw, 2.5rem);   
    }
}

/* FOR SMARTPHONES */

@media screen and (max-width: 767px) {
    .header__container {
        padding: 1rem;
    }

    .header__logo {
        width: clamp(2rem, 1.286rem + 1.905vw, 3rem);
        height: clamp(2rem, 1.286rem + 1.905vw, 3rem);
    }

    .header__title {
        font-size: clamp(1.25rem, 1.071rem + 0.476vw, 1.5rem);  
    }
}